automation/rss-to-social-ai-automation/workflow-test.json
{
  "name": "RSS to Social AI Automation (Test Version)",
  "nodes": [
    {
      "parameters": {},
      "id": "1",
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [240, 300]
    },
    {
      "parameters": {
        "url": "https://hnrss.org/frontpage",
        "options": {}
      },
      "id": "2",
      "name": "RSS Feed - HN",
      "type": "n8n-nodes-base.rssFeedRead",
      "typeVersion": 1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "jsCode": "// Limit to first 2 items for testing\nreturn items.slice(0, 2).map(item => {\n  const json = item.json;\n  return {\n    json: {\n      title: json.title || '',\n      summary: json.description || json.contentSnippet || json.summary || '',\n      link: json.link || '',\n      pubDate: json.pubDate || json.isoDate || '',\n      feed: 'Hacker News'\n    }\n  };\n});"
      },
      "id": "5",
      "name": "Pre-Process",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a scorer for AI automation news. Respond ONLY with a number 0-10."
            },
            {
              "role": "user",
              "content": "=Title: {{ $json.title }}\nSummary: {{ $json.summary }}\nRate relevance to AI automation (0-10):"
            }
          ]
        },
        "options": {
          "maxTokens": 10,
          "temperature": 0.1
        }
      },
      "id": "6",
      "name": "OpenAI Score",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [900, 300],
      "credentials": {
        "openAiApi": {
          "id": "openai-credential",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract score from OpenAI response\nfor (const item of items) {\n  const response = item.json.choices?.[0]?.message?.content || item.json.text || '';\n  let score = parseInt(response.trim(), 10) || 0;\n  \n  // Ensure score is between 0-10\n  score = Math.max(0, Math.min(10, score));\n  \n  // Get original data from previous execution\n  const inputData = $('Pre-Process').all();\n  const originalItem = inputData[items.indexOf(item)];\n  \n  item.json = {\n    ...originalItem.json,\n    score: score,\n    scoreResponse: response\n  };\n}\n\nreturn items;"
      },
      "id": "7",
      "name": "Extract Score",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.score }}",
              "operation": "largerEqual",
              "value2": 7
            }
          ]
        }
      },
      "id": "8",
      "name": "IF Filter (Score >=7)",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [1340, 300]
    },
    {
      "parameters": {
        "resource": "text",
        "operation": "message",
        "modelId": "gpt-4o-mini",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "Generate concise, engaging posts for AI automation niche. Output exactly:\nTweet: [280-char text]\nLinkedIn: [longer insightful text with CTA]"
            },
            {
              "role": "user",
              "content": "=Title: {{ $json.title }}\nSummary: {{ $json.summary }}\nLink: {{ $json.link }}\nGenerate posts:"
            }
          ]
        },
        "options": {
          "maxTokens": 500,
          "temperature": 0.7
        }
      },
      "id": "9",
      "name": "OpenAI Generate Text",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [1560, 200],
      "credentials": {
        "openAiApi": {
          "id": "openai-credential",
          "name": "OpenAI Account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract tweet and LinkedIn text\nfor (const item of items) {\n  const response = item.json.choices?.[0]?.message?.content || item.json.text || '';\n  \n  let tweetText = '', linkedinText = '';\n  \n  const tweetMatch = response.match(/Tweet:\\s*([\\s\\S]*?)(?=\\nLinkedIn:|$)/i);\n  const linkedinMatch = response.match(/LinkedIn:\\s*([\\s\\S]*)$/i);\n  \n  tweetText = (tweetMatch ? tweetMatch[1].trim() : '').substring(0, 280);\n  linkedinText = linkedinMatch ? linkedinMatch[1].trim() : '';\n  \n  // Fallback if regex doesn't match\n  if (!tweetText && !linkedinText) {\n    tweetText = response.substring(0, 280);\n    linkedinText = response;\n  }\n  \n  // Get original data\n  const inputData = $('IF Filter (Score >=7)').all();\n  const originalItem = inputData[items.indexOf(item)];\n  \n  item.json = {\n    ...originalItem.json,\n    tweetText,\n    linkedinText,\n    generatedContent: response\n  };\n}\n\nreturn items;"
      },
      "id": "10",
      "name": "Extract Post Text",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1780, 200]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "link",
              "value": "={{ $json.link }}"
            },
            {
              "name": "score",
              "value": "={{ $json.score }}"
            },
            {
              "name": "tweetText",
              "value": "={{ $json.tweetText }}"
            },
            {
              "name": "linkedinText",
              "value": "={{ $json.linkedinText }}"
            },
            {
              "name": "status",
              "value": "=Ready to post: {{ $json.title }}"
            }
          ]
        },
        "options": {}
      },
      "id": "16",
      "name": "Final Output",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [2000, 200]
    },
    {
      "parameters": {
        "keepOnlySet": true,
        "values": {
          "string": [
            {
              "name": "title",
              "value": "={{ $json.title }}"
            },
            {
              "name": "link",
              "value": "={{ $json.link }}"
            },
            {
              "name": "score",
              "value": "={{ $json.score }}"
            },
            {
              "name": "status",
              "value": "=Filtered out (score too low): {{ $json.title }}"
            }
          ]
        },
        "options": {}
      },
      "id": "17",
      "name": "Filtered Items",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3,
      "position": [1560, 400]
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [[{"node": "RSS Feed - HN", "type": "main", "index": 0}]]
    },
    "RSS Feed - HN": {
      "main": [[{"node": "Pre-Process", "type": "main", "index": 0}]]
    },
    "Pre-Process": {
      "main": [[{"node": "OpenAI Score", "type": "main", "index": 0}]]
    },
    "OpenAI Score": {
      "main": [[{"node": "Extract Score", "type": "main", "index": 0}]]
    },
    "Extract Score": {
      "main": [[{"node": "IF Filter (Score >=7)", "type": "main", "index": 0}]]
    },
    "IF Filter (Score >=7)": {
      "main": [
        [{"node": "OpenAI Generate Text", "type": "main", "index": 0}],
        [{"node": "Filtered Items", "type": "main", "index": 0}]
      ]
    },
    "OpenAI Generate Text": {
      "main": [[{"node": "Extract Post Text", "type": "main", "index": 0}]]
    },
    "Extract Post Text": {
      "main": [[{"node": "Final Output", "type": "main", "index": 0}]]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-11-02T00:00:00.000Z",
  "versionId": 1
}
